*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: antiquewhite;
}
nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    display: flex;
    align-items:center;
}
.container nav .image{
    flex-basis: 20%;
}
.container nav .image i{
    width: 150px;
}
.container nav .nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
}