*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 20%;
    position: relative;
    background-color: antiquewhite;
}
nav{
    width: 80%;
    margin: 20px auto;
    display: flex;
    align-items:center;
}
nav .nav-links{
    display: flex;
    justify-content: flex-end;
}