*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background: rgb(193,76,120);
    background: linear-gradient(-360deg, rgba(193,76,120,1) 0%, rgba(255,255,255,1) 100%);
}
.container{
    width: 100%;
    height: 10vh;
    position: relative;
}
nav{
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
nav .nav-links{
    display: flex;
    justify-content: flex-end;
}
.container nav .nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 12px;
    padding-right: 10px;
    border-right: 2px solid rgb(255, 192, 124);
}
.container nav .nav-links ul li a{
    text-decoration: none;
}