*{
    font-family: sans-serif;
}
.container header{
    width: 50%;
    height: 50px;
    margin: 0 auto
}
.container header ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.container header ul li{
    font-size: 20px;
}
.container header ul li a{
    text-decoration: none;
}
.container header ul li .hmenu{
    display: block;
    padding: 8px;
}
.container header ul li .hmenu li a{
    border: 1px solid red;
    font-size: 15px;
    border-bottom: 1px solid red;

}
.container header ul li:hover .hmenu{
    display: block;
}