* {
    font-family: sans-serif;
}
span {
    background-color: #58ab5b;
    color: rgb(251, 251, 251);
    padding: 16px;
    font-size: 16px;
    border: none;
}
.dropdown {
    position: relative;
}
.dropdown-content {
    position: absolute;
    display: none;
    background-color: #f1f1f1;
    min-width: 80px;
    box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-content p {
    color:black;
    padding: 12px 16px;
    display: none;
}
.dropdown:hover