* {
    font-family: sans-serif;
}
.dropdown {
    position: relative;
    margin-top: 20px;
}
.dropdown span {
    font-size: 19px;
    border: 2px solid blue;
    padding: 6px;
}
.dropdown span a{
    text-decoration: none;
}
.dropdown-content {
    position: absolute;
    min-width: 80px;
}