* {
    font-family: sans-serif;
}
.dropdown {
    position: relative;
}
.dropdown span {
    font-size: 19px;
    border: 1px solid blue;
    padding: 6px;
    margin: 0px;
}
.dropdown span a{
    text-decoration: none;
}
.dropdown-content {
    position: absolute;
    min-width: 80px;
}